# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media

# Python
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info
*.dist-info
*.venv
*.env
*.virtualenv
*.coverage
.coverage.*
.cache
.pytest_cache/
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pyre/
.mypy_cache/
.dmypy.json
.pytype/

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
.VolumeIcon.icns
.metadata_never_index
.fseventsd

# dotenv
.env
.env.*

# npm
node_modules/
npm-debug.log
yarn-error.log
lerna-debug.log