cachetools
certifi 
channels
channels_redis
cryptography 
cytoolz
daphne
Django
django-cors-headers
django-extensions
django-filter
djangorestframework
djangorestframework-simplejwt
psycopg2-binary
pycryptodome
redis
regex
requests 
requests-toolbelt
rest-framework-simplejwt
sqlparse
urllib3 
websockets
